.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDataTmp

*.Rproj
*.nb.html

.DS_Store

# User directories

*rsconnect/
*cache/
*files/

README.html
datasets/weiboscope_data/*.csv

*.zip

# Sparklyr log directory and files
logs/
derby.log

# Google API Json
Transcription-675d1c2f9aef.json