.Rproj.user
.Rhistory
.RData
.Ruserdata

*.Rproj

.DS_Store

# User directories

*rsconnect/
*cache/
*files/

README.html
datasets/weiboscope_data/*.csv

*.zip

# Sparklyr log directory and files
logs/
derby.log