
html,body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* overriding bootstrap */
.container-fluid,
.navbar{
    width: 100%;
    margin-bottom: 0;
}

/* layout css */
.landing-wrapper {
    height: 100%;
    width: auto;
    overflow: hidden;
    display: block;
    top: 0;
}

.landing-wrapper img {
    position: relative;
    display: block;
    /* height: 50%; */
    width: auto;
    /* min-width: 100%; */
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* max-width: 100%; */
    /* max-height: 400px; */
    margin: auto;
    overflow: auto;
    /* align-items: center; */
}

.caption {
    position: relative;
    /* left: 0; */
    /* top: 0; */
    /* bottom: 0; */
    width: 100%;
    text-align: center;
    color: #000;
    opacity: 0.85;
    transform: translate(0, -200%);
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 6px;
  font-size: 25px;
  letter-spacing: 2px;
}


.landing-wrapper .foreground-content .foreground-text h1{font-size: 4.5rem;}
.landing-wrapper .foreground-content .foreground-text p{font-size: 2.5rem;}
