
html,body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

p {
  color: #000000;
  font-family: Georgia;
  max-width: 500px;
  margin: 1rem auto;
}

.firstcharacter {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.source-note {
    font-family: Knowledge, "Source Sans Pro", Arial, sans-serif;
    font-size: 0.8rem;
    line-height: 1.0rem;
    color: #666666;
    font-weight: 300;
    margin: 0 0; 
    max-width: unset;
}

#censorshipTimeDist {
  width: 100% !important; 
  height: auto !important; 
}

#censorshipTimeDist img {
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100%;
}

#pm25map {
  width: 100% !important; 
  height: auto !important; 
}

#pm25map img {
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100%;
}