
html,body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

p {
  color: #000000;
  font-family: Georgia;
}

.firstcharacter {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

#censorshipTimeDist {
  width: 100% !important; 
  height: auto !important; 
}

#censorshipTimeDist img {
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100%;
}

#pm25map {
  width: 100% !important; 
  height: auto !important; 
}

#pm25map img {
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100%;
}